.Container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mainCartDiv {
	width: 30vw;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	gap: 1rem;
}

img {
	width: 10rem;
}

button {
	border: none;
	outline: none;
	background-color: #6c5ce7;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	border-radius: 5px;
	transition: all ease 0.1s;
	box-shadow: 0px 5px 0px 0px #a29bfe;
}

button:active {
	transform: translateY(5px);
	box-shadow: 0px 0px 0px 0px #a29bfe;
}